@import url('bootstrap/css/bootstrap.min.css') all;
@import url('../webmark-base/bootstrap/css/bootstrap-theme.min.css') all;
@import url('../webmark-base/css/pagelayout.css') all;
@import url('../webmark-base/css/mobile.css') all;
@import url('../webmark-base/css/wordpress.css') all;
@import url('../webmark-base/css/print.css') print;
@import url('style2.css') all;
/*
Theme Name:     redddyra
Theme URI:      http://pkj.no
Description:    Child theme of PKJ.NO base template.
Author:         Petter Kjelkenes and Paal Andre Sundt
Author URI:     http://pkj.no
Template:       webmark-base
Version:        0.0.1
*/

/* Import logo font */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);

/*Base theme overrides*/
header {
	border-bottom: 0;
}


/*Base*/
body {
	background-color: white;
}

.header-logo {
	width: 110px;
}
.header-slogan {
	font-size: 1.5em;
}

h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', sans-serif;
}
/* Single animal view */

.single-animal .single-animal-right {
	margin-top: 40px;
}
.single-animal .single-animal-right-map {
	margin-top: 15px;
}


/* Navbar */
.navbar-default .container .navbar-header, .navbar-default > .container > .navbar-header > .navbar-brand, .navbar-default > .container > .navbar-collapse > ul > li , .navbar-default > .container > .navbar-collapse > ul > li > a {
    height: 70px;
}
.navbar-default > .container > .navbar-collapse {
    max-height: none;
}
.navbar-default > .container > .navbar-collapse > ul > li > a {
    font-family: 'PT Sans', sans-serif;
    padding-top: 30px;
    color: #f9e5db;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.navbar-default > .container > .navbar-collapse > ul > li > a:hover {
   text-decoration: underline; 
}
.navbar-default > .container > .navbar-collapse > ul > li.active > a {
    background-color: transparent;
    text-decoration: underline;
}
.navbar-default > .container > .navbar-collapse > ul > li.active > a:hover {
    color: #f9e5db;
}
.navbar-default .navbar-brand {
    background: url('images/redd-dyra-logo.png') no-repeat;
    background-position: 0px 4px;
    padding: 25px 30px 0px 70px;
    font-family: 'PT Sans', sans-serif;
    color: #f9e5db;
    font-size: 30px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.navbar-default .navbar-brand:hover{
    color: white;
}
.navbar-default form {
    padding-top: 10px;
}

.navbar {
	border: 0px solid transparent;
	border-bottom: 4px solid #db8d94;
	border-radius: 0px;
	background-color: #b61b29;
	color: white;
    background-image: none;
}

/* Image slider */

.carousel.slide > ol.carousel-indicators {
    display: none;
}


.carousel.slide > .carousel-inner .carousel-caption{
    color: #B61B29;
}
.carousel.slide > .carousel-inner > .item-0 > .carousel-caption > h3 {
    font-size: 50px;
}
.carousel.slide > .carousel-inner > .item-0 > .carousel-caption {
    color: #B61B29;
    left: 10%;
    right: 50%;
    top: 10%;
    text-align: left; 
}
.carousel.slide > .carousel-inner > .item-1 > .carousel-caption > h3 {
    font-size: 30px;
}
.carousel.slide > .carousel-inner > .item-1 > .carousel-caption{
    color: #B61B29;
    text-align: left;
    top: 40%;
    left: 40%;
    right: 10%;
}
.carousel.slide > .carousel-inner > .item-2 > .carousel-caption > h3{
    font-size: 40px;
    text-shadow: 1px 1px white;
}
.carousel.slide > .carousel-inner > .item-2 > .carousel-caption{
}
.carousel.slide > .carousel-inner > .item-3 > .carousel-caption > h3{
    font-size: 30px;
}
.carousel.slide > .carousel-inner > .item-3 > .carousel-caption{
    text-align: left;
    left: 10%;
    right: 30%;
}


/* Main */
.content-main {
	margin-bottom: 15px;
}

address p {
	margin: 3px 0;
	
}

.widget-area-sidebar .widget-body {
	margin-bottom: 20px;
}

.widget-area-sidebar .textwidget{
	padding: 10px;
}

.widget-area-sidebar .widget-title{
	margin: 0;
	background: #b61b29;
	color: white;
	border-radius: 0;
}

.widget-area-sidebar .widget-body {
	color: #494949;
	
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
.widget-area-sidebar .widget-body a{
	color: #494949;
}

.widget-area-sidebar .widget-body ul{
	list-style-type: none;
	padding: 0;
}
.widget-area-sidebar .widget-body li {
	border-bottom: 1px solid #b61b29;
}

.widget-area-sidebar .widget-body li a {
	display: block;
	padding: 10px;
}

.widget-area-sidebar .widget-body li {
	border-bottom: 1px solid #b61b29;
}


.widget-area-sidebar .widget-body li.current-menu-item {
	position: relative;
	background: #b61b29;
}

.widget-area-sidebar .widget-body li.current-menu-item a{
	color: #fff;
}
.widget-area-sidebar .widget-body li.current-menu-item:after {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.widget-area-sidebar .widget-body li.current-menu-item:after {
	border-color: rgba(208, 112, 172, 0);
	border-left-color: #b61b29;
	border-width: 17px;
	top: 50%;
	margin-top: -17px;
}





/* Search form top. */
.navbar-form.navbar-right button{
	background: transparent;
	border: 1px solid #A31515;

	/*Reset border radius, clean and nice, 4 lines .... duh :(*/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}

.navbar-form.navbar-right button:hover {
	background-color: #B62626;
}

.navbar-form.navbar-right button span {
	color: #fff;
}
#sitesearch{
	color: #E0E0E0;
	background: #b61b29;
	border: 1px solid #A31515;

	/*Reset border radius, clean and nice, 4 lines .... duh :(*/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}

/* Footer */

footer {
    height: auto;
}
footer .footer-widgets .container .sponsors {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

footer .footer-widgets .container .sponsors h1 {
    margin: 0px 0px 20px 0px;
    font-size: 22px;
}

footer .footer-widgets .container .sponsors .image-description {
    clear: both; 
    font-size: 14px;
}
footer .footer-widgets {
    height: auto;
}



