.carousel.slide {
	margin-top: 10px;
}

.carousel-caption {
	color: #000;
}

.carousel-indicators {
	left: 3%;
	bottom: 0px;
}
.carousel-indicators li{

	
	/*Reset border radius, clean and nice, 4 lines .... duh :(*/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;	
}



@media all and (max-width:496px){
	.carousel-caption h3{
		display: none;
	}
	
}


/*Facebook*/

#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}


/*BReadcrumbs*/

.breadcrumb-trail {
		
}


@media (max-width: 768px) {
   .navbar-collapse {
      max-height: auto;
      overflow-x: auto;
   }
}